.header {
	height: 7rem;
	background-color: white;
	border-bottom: 1px solid var(--gray-light-3);
	font-size: 1.4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content {
	display:flex;
}

.sidebar {
	background-color: var(--gray-dark-1);
	flex: 0 0 20%;
	color: var(--gray-light-2);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main-content {
	background-color: var(--gray-light-1);
	flex: 1;
}

.details {
	display: flex;
	padding: 4.5rem;
	border-bottom: var(--line);
	background-color: var(--gray-light-1);
}

.description {
	font-size: 1.4rem;
	flex: 0 0 60%;
	margin-right: 4.5rem;
	padding: 3rem;
	box-shadow: var(--shadow-light);
}

.user-reviews {
	background-color: orangered;
	flex: 1;
}